.ReviewerStart__header {
  position: absolute;
  top: 90px;
  left: 57%;
}

.ReviewerStart__body {
  margin-bottom: 50px;
}

.ReviewerStart {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
