@mixin button {
  min-width     : 2rem;
  padding       : .8rem 1.6rem;
  text-transform: uppercase;
  font-family   : $font-button;
  font-size     : 1.4rem;
  letter-spacing: 1px;
  border        : none;
  color         : $white;
  margin-top: 3rem;
  cursor: pointer;
}

.button {
  @include button;
  @include button-background($color-secondary-dark);

  &-dark {
    @include button;
    @include button-background($black);
  }

  &-light {
    @include button;
    @include button-background($white);
    color           : $black;
    border        : 1px solid $black;
  }
}
