@mixin button {
  min-width     : 2rem;
  padding       : .8rem 1.6rem;
  text-transform: uppercase;
  font-family   : $font-button;
  font-size     : 1.4rem;
  letter-spacing: 1px;
  border        : none;
  color         : $white;
  margin-top: 3rem;
}

.button {
  @include button;
  @include button-background($color-secondary-dark);

  &-dark {
    @include button;
    @include button-background($black);
  }

  &-light {
    @include button;
    @include button-background($white);
    color           : $black;
    border        : 1px solid $black;
  }

  &-inactive {
    @include button;
    background: $gray-light;
    transition: all 0.1s ease-in-out;
    color: $black;
    &:hover {
      background: darken($gray-light, 16%);
      transition: all 0.2s ease-in-out;
    }
  }
}
