@font-face {
  font-family: 'LeagueGothic';
  src: url('../fonts/web/LeagueGothic.woff') format('woff')
}

@font-face {
  font-family: 'ZillaSlab-Regular';
  src: url('../fonts/web/ZillaSlab-Regular.woff') format('woff')
}

@font-face {
  font-family: 'ZillaSlab-Italic';
  src: url('../fonts/web/ZillaSlab-Italic.woff') format('woff')
}

@font-face {
  font-family: 'ZillaSlab-Bold';
  src: url('../fonts/web/ZillaSlab-Bold.woff') format('woff')
}

@font-face {
  font-family: 'ZillaSlabHighlight-Regular';
  src: url('../fonts/web/ZillaSlabHighlight-Regular.woff') format('woff')
}

@font-face {
  font-family: 'ZillaSlabHighlight-Bold';
  src: url('../fonts/web/ZillaSlabHighlight-Bold.woff') format('woff')
}
