// # Colors

@import "fonts";

$font-primary: "ZillaSlab-Regular", serif;
$font-primary-alternate: "ZillaSlabHighlight-Regular", serif;
$font-secondary: "Open Sans", sans-serif;

$font-button: "LeagueGothic";
$font-tip: "ZillaSlab-Italic";

h1, .h1 {
  // font-family: $font-primary;
  font-weight: 400;
  font-size: 3.5rem;
  margin-bottom: .5rem;
  line-height: 4rem;
}

h2, .h2 {
  // font-family: $font-primary;
  font-size: 2.5rem;
}

h3, .h3 {
  font-family: $font-secondary;
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1rem;
}

p, .p {
  font-family: $font-primary;
  font-size: 1.4rem;
}

.header {
  font-family: $font-primary-alternate;
}

.subheader {
 font-family: $font-primary;
 background: $white;
 color: $black;
}

.tip {
  color: $gray;
  font-family: $font-tip;
  font-size: 1.2rem;
}

.article {
  font-size: 1.6rem;
}

.question--short {
  font-size:18px;
  padding:10px 10px 10px 5px;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
