//# Handy bit for debugging CSS layouts

// *:nth-child(n) {  background-color: rgba(255,0,0,0.1); }

//# Imports

@import "mixins";
@import "colors";
@import "App";
@import "typography";
@import "flexbox";
@import "utility";
@import "buttons";
@import "../components/Admin/NewGame";
@import "../components/Admin/FormInput";
@import "../components/Reviewer/StudentForm";
@import "../components/Reviewer/Start";
@import "../components/Reviewer/Footer";
@import "../components/Reviewer/ProgressBar";
@import "../components/Reviewer/GroupNames";
@import "../components/Reviewer/Questions";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-primary;
  color: $color-text;
}

#root {
  height: 100%;
}

p a {
  font-family  : $font-primary;
  color        : $color-secondary-dark;
  border-bottom: 0px solid $transparent;
  transition: all 0.1s ease-in-out;
  font-weight: 500;
  &:hover {
    border-bottom: 1px solid $color-secondary;
    color        : $color-secondary-dark;
    transition: all 0.2s ease-out;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
