// Add font face here

// $primary-font: auto;
// $secondary-font: auto;

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.714rem;
}

h3, .h3 {
  font-size: 1.28rem;
}

h4, .h4 {
  font-size: 1.071rem;
}

p, .p {
  font-size: 1.14285714rem;
}
